* {
  background-color: #161e54;
  color: #88e0ef;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

#padre {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}

#efectivo-form {
  display: flex;
  flex-direction: column;
  margin: 0.5cm;
  margin-top: 0;
}

#banco-form {
  display: flex;
  flex-direction: column;
  margin: 0.5cm;
  margin-top: 0;
}

#mercadoPago-form {
  display: flex;
  flex-direction: column;
  margin: 0.5cm;
  margin-top: 0;
}

#reset {
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  width: 70%;
  margin: 1cm;
}

label {
  margin-bottom: 10px;
}

ul li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  align-content: center;
  text-align: center;
}

ul {
  align-items: center;
  margin: 0;
  padding: 0;
}

#efectivo-registrar {
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  width: auto;
  margin-bottom: 0.5cm;
}

#banco-registrar {
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  width: auto;
  margin-bottom: 0.5cm;
}

#mercadoPago-registrar {
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  width: auto;
  margin-bottom: 0.5cm;
}
