*{
    background-color: #161E54;
    color: #88E0EF;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
}

#padre{
    display: flex; 
    align-content: space-around; 
    justify-content: space-around; 
}

ul li {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    align-content: center;
    text-align:center;
}

ul {
    align-items: center;
    margin: 0;
    padding: 0;
}